
<div class="org-bib">
  <div>
    <a name="arun18:_making_search_easier" class="org-bibitem" ></a>
    <p class="org-bibitem">
      Arun Krishnan. Making search easier: How Amazon’s Product Graph is helping customers find products more easily (2018).
    </p>
  </div>
  <div>
    <a name="chang18:_scaling_knowled_access" class="org-bibitem" ></a>
    <p class="org-bibitem">
      Spencer Chang. Scaling Knowledge Access and Retrieval at Airbnb (2018).
    </p>
  </div>
  <div>
    <a name="deepika17:_happy_birthd_watson" class="org-bibitem" ></a>
    <p class="org-bibitem">
      Deepika Devarajan. Happy Birthday Watson Discovery (2017).
    </p>
  </div>
  <div>
    <a name="ferras18:_food_discov_uber" class="org-bibitem" ></a>
    <p class="org-bibitem">
      Ferras Hamad, Isaac Liu, Xian Xing Zhang. Food Discovery with Uber Eats: Building a Query Understanding Engine (2018).
    </p>
  </div>
  <div>
    <a name="noy19:_industr_scale_knowled" class="org-bibitem" ></a>
    <p class="org-bibitem">
      Natasha Noy and Yuqing Gao and Anshu Jain and Anant Narayanan and Alan Patterson and Jamie Taylor. Industry-scale Knowledge Graphs: Lessons and Challenges (2019).
    </p>
  </div>
  <div>
    <a name="pittman17:_cracking_code_conver" class="org-bibitem" ></a>
    <p class="org-bibitem">
      R. J. Pittman and Amit Srivastava and Sanjika Hewavitharana and Ajinkya Kale and Saab Mansour. Cracking the Code on Conversational Commerce (2017).
    </p>
  </div>
  <div>
    <a name="qi16:_buildin_linked_knowled" class="org-bibitem" ></a>
    <p class="org-bibitem">
      Qi He and Bee-Chung Chen and Deepak Agarwal. Building The LinkedIn Knowledge Graph (2016).
    </p>
  </div>
  <div>
    <a name="saurabh17:_bring_rich_knowled" class="org-bibitem" ></a>
    <p class="org-bibitem">
      Saurabh Shrivastava. Bring rich knowledge of people, places, things and local businesses to your apps (2017).
    </p>
  </div>
  <div>
    <a name="schneider73:_cours_modul_applied" class="org-bibitem" ></a>
    <p class="org-bibitem">
      Schneider, Edward W. Course Modularization Applied: The Interface System and Its Implications For Sequence Control and Data Analysis. (1973).
    </p>
  </div>
  <div>
    <a name="giese15:optique" class="org-bibitem" ></a>
    <p class="org-bibitem">
      Martin Giese and Ahmet Soylu and Guillermo Vega-Gorgojo and Arild Waaler and Peter Haase and Ernesto Jiménez-Ruiz and Davide Lanti and Martín Rezk and Guohui Xiao and Özgür L. Özçep and Riccardo Rosati. Optique: Zooming in on Big Data (2015).
    </p>
  </div>
  <div>
    <a name="tudorache13:webprotege" class="org-bibitem" ></a>
    <p class="org-bibitem">
      Tania Tudorache and Csongor Nyulas and Natalya Fridman Noy and Mark A. Musen. WebProtégé: A collaborative ontology editor and knowledge acquisition tool for the Web (2013).
    </p>
  </div>
  <div>
    <a name="ozgur:_ref_ex" class="org-bibitem" ></a>
    <p class="org-bibitem">
      Özgür L. Özçep. This is a misc reference with Özgür L. Özçep as an author. (2020).
    </p>
  </div>
</div><!-- /org-bib -->
